.allweek-button-and-title {
  display: flex;
  flex-direction: row;
  padding: 18px 24px;
  align-items: center;
  align-self: stretch;
  gap: 110px;
}

.allweek-title {
  color: #313341;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
